   html, body, h1, h2, h3, h4, ol, ul, li, p, a {
        padding: 0;
        border: 0;
        margin: 0;
        font-size: 100%
        font: inherit;
   }

   h1 {
    text-align: center;
    background: blue;
    height: 75px;
    margin-bottom: 75px;
   }


   h1 a:link {
    text-decoration: none;
   }

   h1 a {
    color: black;
   }

   li > div {
    position: relative;
   }
   div > div {

    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
   }


   div img {
    width: 225px;
   }
   ul {
    margin-bottom: 50px;
    width: 225px;
   }
   h2 {
    margin-bottom: 40px;
   }
   p {
    margin-bottom: 40px;
    margin-top: 40px;
   }
   h3 {
    margin-bottom: 40px;
    text-align: right;
   }
